#twitterContent  				{background-color: white;}
	#twitterContent .tweet			{padding: 5px; border-bottom: 1px solid #EBEBEB;}
	#twitterContent .tweet-image	{float: left; height: 48px; width: 48px; margin-top: 3px;}
	#twitterContent .tweet-content 	{margin-left: 58px; min-height: 48px; }
	#twitterContent .tweet-date    	{color: #999999; font-size: 0.8em;padding-top: 4px;}	
	#twitterContent .tweet-text		{color: #444444;}